* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --linkHover:  rgb(95, 114, 97);
    --cHeadFoot: #6d8b74b2;
    --linkHover2:rgb(239, 234, 216); 
    --texthead: #CDBE78;
    --textcolor:#066163;
}

html {
    font-size: 62.5%;
    scroll-behavior:smooth ;
}

body {
    height: 100%;
    font-size: 160%;
    font-family: 'PT sans' , sans-serief;
    
}

.header,
.footer {
    width: 100%;
    height: 10rem;
    background-color: white;
    
}

.header{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: 8rem;
    width: 98%;
    
    margin: 0 auto;
    margin-top:2rem ;
    border-radius: 0.5rem;

}

  

.title{ 
    color: var(--texthead);
    font-family: 'Inconsolata', monospace;
    position: relative;
    font-size: 5rem;
    height: 100%;
    width: 17ch;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}



.title::before,
.title::after{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    
}


.title::before{
    background: white;
    animation:  typewriter 2s steps(17) 0.5s forwards;
}

.title::after{
    width: 0.125em;
    background: black;
    animation:  typewriter 2s steps(17) 0.5s forwards, blinken 700ms steps(17) infinite;
}

.headerInfo{
    display: none;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    color: var(--textcolor);
    opacity: 0;
    animation: fadeIn 1s ease 0.25s forwards;
}

.headerInfo > h1{
    font-size: 6rem;
}

.headerInfo >  ul{
    display: flex;
    gap: 4rem;
    height: 100%;
    align-items: center;
} 

.headerInfo > ul > li ,.headerInfo a{
    list-style: none;
    font-size: 125%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0 1rem 0 1rem;
    border-radius: 0.5rem;
    color: var(--textcolor);
}

.headerInfo a {
    width: 125%;
    
}

.hover--animation2 {
    
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}
.hover--animation2:hover {
    box-shadow: inset 0 0 15rem 0  var(--linkHover2);
    color: var(--texthead);
}

.icons{
    display: flex;
    gap: 2rem;
    margin-left: 2rem ;
}

.shopcart, .login{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.shopcart > a, .login > a{
    height: 100%;
}

.shopcart > a:hover, .login > a:hover{
    color: var(--texthead);
}

.fa-cart-shopping, .fa-arrow-right-to-bracket{
    font-size: 125%;
}

@keyframes blinken{
    to{
        background-color: transparent;
    }
}

@keyframes typewriter{
    to {left: 100%;}
    
}

@keyframes fadeOut{
    to{opacity: 0;} 
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.main {
    width: 60vw;
    height: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24,1fr);

}

.main p {
   color: var(--textcolor); 
}

.artmain1 , .artmain2, .artmain3{
    padding: 2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius:0.5rem ;
}

.artmain1{ 
   grid-column: 3/11;
   grid-row: 2/7;
  
}

.artmain2{
    grid-column: 2/8;
    grid-row: 11/16;
}

.artmain3{
    grid-column: 6/13;
    grid-row: 19/24;
}

.artmain1 > h2{
    color:var(--texthead);
    font-size:180%;
}

.artmain2 > h2, .artmain3 > h2{
    color: var(--texthead);
    font-size: 200%;
}


.reyAnimation {
    background: var(--texthead);
    height: 10rem;
    width: 10rem;
    position: relative;
    margin-top: 5rem;
    border-radius:5rem ;
    animation-name: rollIn;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

}



.reyAnimation >  i{
    font-size: 200%;
    position: absolute;
    top: 32%;
    text-align: center;
    height: 100%;
    width: 100%;

}

.review1{
    grid-column: 9/12;
    grid-row: 12/16;
   
}

.review1 > p{
    font-size: 90%;
}

.review2{
    grid-column: 1/5;
    grid-row: 18/23;

}


.fotoReviews{
    border-radius: 5rem;
    height: 10rem;
    width: 10rem;
}


.checked{
    color: var(--texthead);
}

.fa-desktop{
    opacity: 0;
    animation-name: fadeIn2;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.fa-gamepad{
    opacity: 0;
    animation-name: fadeIn1;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.fa-recycle{
    opacity: 1;
    animation-name: fadeOut1;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.animationConfig{
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 4;
}

@keyframes fadeIn1 {
    60%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    40%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    59%{
        opacity: 0;
    }
}

@keyframes fadeOut1{
    0%{
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    to{
        opacity: 0;
    }
}

@keyframes rollIn {
    0% { transform: translateX(0) rotate(0deg); }
    50%{
        transform: translateY(420%) rotate(360deg);
    }
    
    100% { transform: translateX(800%) translateY(420%) rotate(180deg); 
        } 

 } 




hr {
    margin: 2rem;
    border: 0;
    border-top: 1px solid #eee;
}

.footer {
    display: flex;
    gap: 2rem;
}

.art {
    width: 100%;
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



a {
    text-decoration: none;
    color: black;

}

.hover--animation {
    display: inline;
    position: relative;
}

.hover--animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--cHeadFoot);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover--animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.art2{
    flex-direction: row;
}

.art2 > .fa {
    padding: 2rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.art2 > .fa:hover {
    box-shadow: inset 0 -10rem 0 0rem  var(--cHeadFoot);
    color: white;
  }
